{{ define "main" }}


<section id="section-research-news" class="home-section hs-research-news">
  <div class=" container-fluid">

    <div class="row">

        <div class=" home-cell-item">
          <div class="i_hd">
            <h3>The Lab</h3>
          </div>
          <div class="i_bd">

            <div class="item">
              <div id="vsb_content_1171_u41">
                <div id="vsb_content">
                  SeekAnyWhere LAB, affiliated with the National University of Defense Technology (NUDT), is dedicated to cutting-edge research in visual localization and 3D vision, with a focus on advancing high-precision, robust environmental perception and spatial intelligence technologies in complex real-world scenarios. The lab focus on multi-sensor fusion, 3D reconstruction, and scene understanding, integrating deep learning with geometry-driven approaches to develop real-time perception and localization systems for dynamic, large-scale environments. These advancements underpin critical applications such as intelligent autonomous systems, augmented/virtual reality (AR/VR), autonomous driving, and digital twins.
                </div>
              </div>

            </div>

          </div>
        </div>

    </div>


    <div class="row">
      <div class="i_hd">
        <h3>Publication</h3>
      </div>

      {{ partial "home_section/publication.html" . }}
    </div>

  </div>
</section>




{{ end }}
