


{{ $publications := .Site.Data.publications }}

  <div class=" publication-list-wrap " id="publication-box">


    <div class="list_thesis pub-list-items">




      {{ range $index, $item := $publications }}

      <div class="row pub-list-item">
        <div class="col-12 col-md-8">

          <div class="txt">
            <h3> {{ $item.title | markdownify | emojify  }}  </h3>
            <p> {{ $item.authors | markdownify | emojify  }} </p>
            <p>
              {{ with $item.pdf_link }}
                <a style="width: 4.5rem;" class="btn btn-outline-primary btn-page-header btn-sm" href="{{ . }}" target="_blank" >Pdf</a>
              {{ end }}

              {{ with $item.project_link }}
               <a style="width: 4.5rem;"  class="btn btn-outline-primary btn-page-header btn-sm" href="{{ . }}" target="_blank" >Project</a>
              {{ end }}
            </p>

          </div>

        </div>
        <div class="col-12 col-md-4">
          <div class="cover_img">
            <a href="{{ .Params.url_external }}" target="_blank"  ><img src="images/{{ $item.image | relLangURL }}" /></a>
          </div>
        </div>


      </div>


      {{ end }}




    </div>





    </div>
  </div>


